@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --roboto: "Roboto", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    width: 100%;
}
header nav{
    max-width: 1110px;
    margin: 0 auto;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    
}
header nav a{
    font-size: 30px;
    font-family: var(--roboto);
    color: rgb(34, 84, 159);
}
section{
    width: 100%;
}

section .container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
section .container a{
    margin: 0 auto;
}
section .container a .order{
    padding: 25px;
    border: 1px solid gray;
    font-family: var(--roboto);
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
section .container .order h1{
    font-size: 25px;
}
section .container .order h2, section .container .order h3, section .container .order h4, section .container .order h5{
    font-size: 25px;
}
section .container .order h2 span{
    color: red;
}
